deploy/n8n-workflows/responder_mensajes.json
{
  "name": "Responder mensajes (Chatwoot -> Claude -> NocoDB)",
  "active": false,
  "settings": {"executionOrder": "v1"},
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook Chatwoot",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "chatwoot-responder",
        "responseMode": "lastNode",
        "options": {}
      },
      "webhookId": "chatwoot-responder"
    },
    {
      "id": "node-filter",
      "name": "Solo mensajes entrantes",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "loose"},
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "message_created",
              "operator": {"type": "string", "operation": "equals"}
            },
            {
              "id": "cond-incoming",
              "leftValue": "={{ $json.body.message_type }}",
              "rightValue": "incoming",
              "operator": {"type": "string", "operation": "equals"}
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-extract",
      "name": "Extraer datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [680, 240],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {"id": "a1", "name": "mensaje", "value": "={{ $json.body.content }}", "type": "string"},
            {"id": "a2", "name": "telefono", "value": "={{ $json.body.sender.phone_number || $json.body.sender.identifier || $json.body.sender.id }}", "type": "string"},
            {"id": "a3", "name": "nombre", "value": "={{ $json.body.sender.name }}", "type": "string"},
            {"id": "a4", "name": "conversation_id", "value": "={{ $json.body.conversation.id }}", "type": "number"},
            {"id": "a5", "name": "account_id", "value": "={{ $json.body.account.id }}", "type": "number"},
            {"id": "a6", "name": "canal", "value": "={{ $json.body.conversation.channel || 'whatsapp' }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-claude",
      "name": "Llamar a Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 240],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "REEMPLAZAR_CON_TU_ANTHROPIC_API_KEY"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 800,\n  \"system\": \"Eres el asistente de la Casa de Campo El Mirador, respondiendo como el dueno (Carlos). Tono cercano y amable, tuteando, con emojis moderados. Si no sabes algo, di que el dueno respondera pronto. No compartas direccion exacta ni datos de pago hasta confirmar reserva. (En produccion este texto se reemplaza con knowledge/casa_de_campo.md completo.)\",\n  \"messages\": [\n    {\"role\": \"user\", \"content\": \"{{ $json.mensaje }}\"}\n  ]\n}",
        "options": {}
      }
    },
    {
      "id": "node-extract-reply",
      "name": "Extraer respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1120, 240],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {"id": "r1", "name": "reply", "value": "={{ $json.content[0].text }}", "type": "string"}
          ]
        },
        "includeOtherFields": true,
        "options": {}
      }
    },
    {
      "id": "node-chatwoot-reply",
      "name": "Responder en Chatwoot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 180],
      "parameters": {
        "method": "POST",
        "url": "=http://chatwoot-rails:3000/api/v1/accounts/{{ $('Extraer datos').item.json.account_id }}/conversations/{{ $('Extraer datos').item.json.conversation_id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "api_access_token", "value": "REEMPLAZAR_CON_CHATWOOT_API_TOKEN"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{ $json.reply }}\",\n  \"message_type\": \"outgoing\"\n}",
        "options": {}
      }
    },
    {
      "id": "node-nocodb-log",
      "name": "Guardar en NocoDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 320],
      "parameters": {
        "method": "POST",
        "url": "http://nocodb:8080/api/v2/tables/REEMPLAZAR_TABLE_ID_CONVERSACIONES/records",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "xc-token", "value": "REEMPLAZAR_CON_DB_API_TOKEN"},
            {"name": "content-type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Resumen\": \"{{ $('Extraer datos').item.json.mensaje.substring(0, 60) }}\",\n  \"Canal\": \"{{ $('Extraer datos').item.json.canal }}\",\n  \"Mensaje\": \"{{ $('Extraer datos').item.json.mensaje }}\",\n  \"Respuesta\": \"{{ $json.reply }}\",\n  \"RequiereHumano\": false\n}",
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook Chatwoot": {
      "main": [[{"node": "Solo mensajes entrantes", "type": "main", "index": 0}]]
    },
    "Solo mensajes entrantes": {
      "main": [
        [{"node": "Extraer datos", "type": "main", "index": 0}],
        []
      ]
    },
    "Extraer datos": {
      "main": [[{"node": "Llamar a Claude", "type": "main", "index": 0}]]
    },
    "Llamar a Claude": {
      "main": [[{"node": "Extraer respuesta", "type": "main", "index": 0}]]
    },
    "Extraer respuesta": {
      "main": [[
        {"node": "Responder en Chatwoot", "type": "main", "index": 0},
        {"node": "Guardar en NocoDB", "type": "main", "index": 0}
      ]]
    }
  }
}
